.flavors__container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;

}
.flavours__img{margin-right: 110px;

}

.flavors__header{
    width: 628px;
    margin-bottom: 150px;

    font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 1.25;
color: #000000;

}
.flavors__text{
    width: 652px;
    margin-bottom: 35px;

    font-size: 18px;
line-height: 1.78;
color: #000000;


}
.flavors__learn{
    font-size: 12px;
line-height: 1.5;
letter-spacing: 1px;
text-transform: uppercase;
color: #000000;

}