.pre-header{
    background-color: #000000;

}
.pre-header__text{
    font-weight: 400;
font-size: 14px;
line-height: 1.28;
text-align: center;

color: #FFFFFF;
padding-top: 16px;
padding-bottom: 16px;


}